






<html>
<head>
  <title>Your Website Title</title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://http://saidhussaiblog.com.pk/fb/index.html" />
  <meta property="og:type"          content="my websit" />
  <meta property="og:title"         content="Morad dand" />
  <meta property="og:description"   content="this is a Education uni" />
  <meta property="og:image"         content="//saidhussaiblog.com.pk/fb/avatar5.png" />
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=314333405965028&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  
<div class="fb-share-button" data-href="http://saidhussaiblog.com.pk/fb/" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsaidhussaiblog.com.pk%2Ffb%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</body>
</html>